{% block footer %}
	<!-- Footer -->
	<footer
		class="bg-dark text-center text-white">
		<!-- Grid container -->
		<div
			class="container p-4">

			<!-- Section: Links -->
			<section
				class="">
				<!--Grid row-->
				<div
					class="row">
					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
						<h4 class="text-white text-uppercase">PRESENTATION</h4>

						<ul class="list-unstyled mb-0">
							<li>
								<a href="#!" class="text-white">A propos</a>
							</li>
							<li>
								<a href="#!" class="text-white">Pourquoi nous choisir</a>
							</li>
							<li>
								<a href="#!" class="text-white">Nos prix</a>
							</li>
							<li>
								<a href="#!" class="text-white">Link 4</a>
							</li>
						</ul>
					</div>
					<!--Grid column-->

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
						<h4 class="text-white text-uppercase">Resources</h4>

						<ul class="list-unstyled mb-0">
							<li>
								<a href="#!" class="text-white">C.G.U - C.G.P</a>
							</li>
							<li>
								<a href="#!" class="text-white">Blog</a>
							</li>
							<li>
								<a href="#!" class="text-white">Gestion des cookies</a>
							</li>
							<li>
								<a href="#!" class="text-white">Link 4</a>
							</li>
						</ul>
					</div>
					<!--Grid column-->

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
						<h4 class="text-white text-uppercase">HORAIRES</h4>

						<p>Lundi 10H - 19H</p>
						<p>Mardi 10H - 19H</p>
						<p>Mercredi 10H - 19H</p>
						<p>Jeudi 10H - 19H</p>
						<p>Vendredi 10H - 19H</p>
						<p>Samedi 10H - 19H</p>
						<p>Dimanche Fermé</p>

					</div>
					<!--Grid column-->

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
						<h2 class="text-white text-uppercase">Garage V.Pavot</h2>
					</div>
					<!--Grid column-->
				</div>
				<!--Grid row-->
			</section>
			<!-- Section: Links -->
		</div>
		<!-- Grid container -->

		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			© 2020 Copyright:
			<a class="text-white" href="">Garage V.Pavot</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->
{% endblock %}
