{% extends 'base.html.twig' %}

{% block title %}Modifier le service
{% endblock %}

{% block body %}

	<main class="container blockbody">
		<section class="row">
			<div class="col-12">
				<div class="titlePage">
					<h1 class="text-uppercase">Modifier le service</h1>

					{{ include('services/_form.html.twig', {'button_label': 'Update'}) }}

					<a href="{{ path('app_services_index') }}">Retour à liste</a>

					{{ include('services/_delete_form.html.twig') }}

				</div>
			</div>
		</section>
	</main>
{% endblock %}
