{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau Service
{% endblock %}

{% block body %}

	<main class="container blockbody">
		<section class="row">
			<div class="col-12">
				<div class="titlePage">
					<h1 class="text-uppercase">Ajouter un nouveau service</h1>

					{{ include('services/_form.html.twig') }}

					<a href="{{ path('services.index') }}">Retour à liste</a>

				</div>
			</div>
		</section>
	</main>
{% endblock %}
