
{% extends "base.html.twig"%}


{% block body %}
	{% block header %}
		{% include "partials/header/header.html.twig" %}
<p>
Qui sommes nous ?
La Centrale ® est aujourd'hui une marque multi-média : 1er site de véhicules d'occasion créé en 1999, journal hebdomadaire national de 1969 à 2009, connu historiquement sous le nom "La Centrale ® des Particuliers".

La Centrale ® appartient à la société Groupe La Centrale. Groupe La Centrale est le leader français des contenus auto et moto dans le domaine de la petite annonce et de l'éditorial avec les sites :


</p>
	{% endblock %}

	{% block footer %}
		{% include "partials/footer.html.twig" %}
	{% endblock %}
{% endblock %}

