{% extends "base.html.twig"%}
{% block body %}
	{% block header %}
	
        <main class="container blockbody">
		<section class="row">
			<div class="col-12">
					{{ form(formulaire)}}
			{# <button class="btn">{{ button_label|default('Sauvegarder') }}</button> #}

			</div>
		</section>
	</main>

		{% endblock %}


	{% endblock %}
