
{% extends "base.html.twig"%}


{% block body %}
	
{% for service in services|slice(0,2) %}
						<article class=" mt-2 mb-2">
							<div class="card-body">
								<h3 class="card-title text-dark">{{service.title}}</h3>
								<p class="card-text">{{service.content}}</p>
								{% if app.user %}
									{% if app.user.username == 'Parrot' %}
										<div class="card-body">
											<a href="{{ path('delete-service', {'id':service.id}) }}" class="btn btn-danger">Supprimer</a>
											<a href="{{ path('edit-service', {'id':service.id}) }}" class="btn btn-warning">Modifier</a>
										</div>
									{% endif %}
								{% endif %}
							</div>
						</article>
					{% endfor %}
	


{% endblock %}
