
{% extends "base.html.twig"%}


{% block body %}
	{% block header %}
		{% include "partials/header/header.html.twig" %}
<p>
Nos prestation
</p>
	{% endblock %}

	{% block footer %}
		{% include "partials/footer.html.twig" %}
	{% endblock %}
{% endblock %}
