#page-container {
    position: relative;
    min-height: 100vh;
  }
  p{ font-size: xx-large !;}
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  img {
    display: block;
    width: 50%;
  }
  .logo{
    margin: none !important ;
  }
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }
.navbar{
  padding: 0.5rem 1rem !important;
}
.banner{
  background-image: url("../images/banners.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 60vh;
}


.blockbody{
    margin: 10px O 10px O;
}

footer{
  position: absolute;
    bottom: 0px;
    width: 100%;
    
    background-color: #1a1a1a;
  }
.nameCompany{
    display: flex !important;
    align-items: center !important;
}

/* page Service */
.prestation{

  justify-content: center;

}


@media screen and (max-width: 1200px) {
  .banner {
      background-repeat: no-repeat;
      background-position: 100% 20%;
      height: 20vh;
  }
}