{% extends "base.html.twig"%}


{% block body %}
	{% block header %}
		{% include "partials/header/header.html.twig" %}
	{% endblock %}
	{# banner #}
	<div class="banner">
		
		
	</div>
	{# banner #}
	{# DERNIERES SELECTIONS #}
	<div class="container text-center">
		<h2 class="title">
			NOS DERNIERES SELECTIONS
		</h2>
	</div>

	<div class="container text-center">
		<div
			class="row ">
			{# {% if cars.price == 2000  %} #}
			<section>
				<form id="filter-form" class="mt-3 container">
					<div class="d-flex flex-sm-column flex-lg-row col-lg-8">
						<div class="m-2">
							<label for="filter_price">Prix :</label>
							<input type="range" class="form-range" filter_"0" max="150000" step="1000" name="filter_price" id="filter_price" onchange="updateRangeValue(this, 'filter_price_value')">
							<p class="d-flex justify-content-end">
								<span id="filter_price_value"></span>
								€
								<br>
							</p>
						</div>

						<div class="m-2">
							<label for="filter_kilometer">
								Kilométrage :</label>
							<input type="range" class="form-range" filter_"0" max="250000" step="10000" name="max_kilometer" id="filter_kilometer" onchange="updateRangeValue(this, 'filter_kilometer-value')">
							<p class="d-flex justify-content-end">
								<span id="filter_kilometer-value"></span>
								km
							</p>
						</div>

						<div class="m-2">
							<label for="filter_date">
								Année de Mise en Circulation :</label>
							<input type="range" class="form-range" filter min="1980" max="2023" step="1" name="filter_date" id="filter_date" onchange="updateRangeValue(this, 'filter_date-value')">
							<p class="d-flex justify-content-end">
								Après &nbsp;
								<span id="filter_date-value"></span>
							</p>
						</div>

						<button type="submit" class="btn btn-danger m-2 align-self-center">Filtrez</button>
					</div>
				</form>
			{# {% endif %} #}
		</section>
		{# {% for car in cars %}

			<div class="col " style="margin-bottom: 2em;">

				<div class="card" style="width: 18rem;">
					<img src="https://img.leboncoin.fr/api/v1/lbcpb1/images/d8/a4/24/d8a424acc7f953bd1fffa77eeb7e87c1b8c5cf24.jpg?rule=classified-1200x800-webp" class="card-img-top" alt="...">
					<div class="card-body">

						<h5 class="card-title">{{car.brand}}</h5>
						<p class="card-text">Prix :{{car.price}}</p>
						<p class="card-text">Kilométres :
							{{car.kilometers}}</p>


						<a href="#" class="btn btn-primary">Details</a>
					</div>
				</div>

			</div>


		{% endfor %} #}
		{# 		
				{% endif  %} #}


	</div>
</div>
{# <div class="container text-center">
		<div class="row g-3">
				<div class="col-4"> <div class="p-3">
					<div class="card" style="width: 18rem;">
						<img src="http://via.placeholder.com/640x360
														" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Details</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="p-3">
					<div class="card" style="width: 18rem;">
						<img src="http://via.placeholder.com/640x360
														" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Details</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="p-3">
					<div class="card" style="width: 18rem;">
						<img src="http://via.placeholder.com/640x360
														" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Details</a>
						</div>
					</div>
				</div>
			</div>
		</div> #}
{# DERNIERES SELECTIONS #}
{# PRESTATIONS #}
	<div class="container text-center"> <h2 class="title">
		NOS PRESTAIONS
	</h2>
</div>
<div class="container text-center">
	<div class="row g-3">
		<div class="col-4">
			<div class="p-3">
				<div class="card" style="width: 18rem;">
					<img src="http://via.placeholder.com/640x360
																					" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Remplacement des plaquettes de frein</h5>
						<p class="card-text">les plaquettes doivent en effet être changées régulièrement.
						</p>
						<a href="#" class="btn btn-primary">Details</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="p-3">
				<div class="card" style="width: 18rem;">
					<img src="http://via.placeholder.com/640x360
																					" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Vidange</h5>
						<p class="card-text">Cette prestation récurrente est cruciale car elle garantit, au fil des ans, le bon fonctionnement du moteur de votre voiture.
						</p>
						<a href="#" class="btn btn-primary">Details</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="p-3">
				<div class="card" style="width: 18rem;">
					<img src="http://via.placeholder.com/640x360
																					" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Révision voiture</h5>
						<p class="card-text">La révision de votre voiture est une étape importante et essentielle à son bon fonctionnement.</p>
						<a href="#" class="btn btn-primary">Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include "partials/footer.html.twig" %}{% endblock %}
