{% extends "base.html.twig"%}
{% block body %}

	{# banner #}
	<div class="banner"></div>

	{# PRESTATIONS #}
	<div class="container text-center">
		<h2 class="title">
			NOS PRESTATIONS
		</h2>
	</div>
	<div class="prestation row text-center ml-2">
		{% for service in services %}
			<div class="card border-primary m-5" style="max-width: 20rem;">
				<div class="card-header">{{service.title}}</div>
				<div class="card-body">
					<p class="card-text">{{service.content}}</p>
					<a href="{{ path('services.show', {'id':service.id}) }}" class="card-link"></a>
					<a href="{{ path('services.index') }}" class="card-link">Voir tout nos services</a>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
