{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouvelle voiture
{% endblock %}

{% block body %}
	{% block header %}
		{% include "navbarAdmin/headerAdmin.html.twig" %}
	{% endblock %}
	<main class="container blockbody">
		<section class="row">
			<div class="col-12">
				<div class="titlePage">
					<h1 class="text-uppercase">Ajouter un nouvelle voiture</h1>

					{{ include('cars/_form.html.twig') }}

					<a href="{{ path('app_cars_index') }}">Retour à liste des voitures</a>

				</div>
			</div>
		</section>
	</main>
{% endblock %}
